services:
  wordpress:
    image: {{ wordpress_image }}
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend
    volumes:
      - wordpress_data:/var/www/html
    restart: unless-stopped

  wpcli:
    image: {{ wpcli_image }}
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - wordpress_data:/var/www/html
      - "{{ wordpress_site_dir }}/wp-init.sh:/docker-entrypoint-init.d/wp-init.sh:ro"
    depends_on:
      - db
      - wordpress
    restart: unless-stopped
    entrypoint: /docker-entrypoint-init.d/wp-init.sh

  db:
    image: {{ mysql_image }}
    env_file:
    - .env
    networks:
      - backend
    restart: unless-stopped

  phpmyadmin:
    image: {{ phpmyadmin_image }}
    env_file:
    - .env
    depends_on:
      - db
    networks:
      - backend
    restart: unless-stopped

  nginx:
    image: {{ nginx_image }}
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - "{{ wordpress_site_dir }}/certs:/etc/nginx/certs:ro"
      - "{{ wordpress_site_dir }}/nginx.conf:/etc/nginx/nginx.conf:ro"
    depends_on:
      - wordpress
      - phpmyadmin
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
    driver: bridge

volumes:
  wordpress_data:
