services:
  wordpress:
    image: {{ wordpress_image }}
    environment:
      WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
      WORDPRESS_DB_HOST: "{{ wordpress_db_host }}"
    depends_on:
      - db
    networks:
      - backend
    volumes:
      - wordpress_data:/var/www/html
    restart: unless-stopped

  wpcli:
    image: {{ wpcli_image }}
    environment:
      WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
      WORDPRESS_DB_HOST: "{{ wordpress_db_host }}"
      WORDPRESS_URL: "{{ wordpress_url }}"
      WORDPRESS_TITLE: "{{ wordpress_title }}"
      WORDPRESS_ADMIN: "{{ wordpress_admin }}"
      WORDPRESS_ADMIN_PASSWORD: "{{ wordpress_admin_password }}"
      WORDPRESS_ADMIN_EMAIL: "{{ wordpress_admin_email }}"
    networks:
      - backend
    volumes:
      - wordpress_data:/var/www/html
      - "{{ wordpress_site_dir }}/wp-init.sh:/docker-entrypoint-init.d/wp-init.sh:ro"
    depends_on:
      - db
      - wordpress
    entrypoint: /docker-entrypoint-init.d/wp-init.sh

  db:
    image: {{ mysql_image }}
    environment:
      MYSQL_DATABASE: "{{ mysql_database }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_password }}"
      MYSQL_RANDOM_ROOT_PASSWORD: "{{ mysql_random_root_password }}"
    networks:
      - backend
    restart: unless-stopped

  phpmyadmin:
    image: {{ phpmyadmin_image }}
    depends_on:
      - db
    networks:
      - backend
    restart: unless-stopped

  nginx:
    image: {{ nginx_image }}
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - "{{ wordpress_site_dir }}/certs:/etc/nginx/certs:ro"
      - "{{ wordpress_site_dir }}/nginx.conf:/etc/nginx/nginx.conf:ro"
    depends_on:
      - wordpress
      - phpmyadmin
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
    driver: bridge

volumes:
  wordpress_data:
